* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #f08d8f;
}

body {
  font-family: "Roboto", sans-serif;
  color: white;
}

.nav {
  background-color: var(--primary-color);
  padding: 10px 15px;
}

.navigation-item a {
  text-decoration: none;
  color: white;
}

.hamburger-menu {
  width: 20px;
}

.navigace-desktop {
  display: none;
}
.navigace-mobil {
  text-align: right;
}

.hero-text {
  padding: 15px;
  background-image: url(https://images.unsplash.com/photo-1540503831458-3237544b2ce5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2882&q=80);
  height: 500px;
  width: calc(100% - 20px);
  background-size: cover;
  background-position: center;
  position: relative;
}

.image-container {
  padding: 15px;
  background-image: url(https://images.unsplash.com/photo-1512419180521-2c5585bdf851?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80);
  height: 350px;
  width: calc(100% - 20px);
  background-size: cover;
  background-position: center;
}

.nav,
.hero-text,
.image-container {
  margin: 10px;
  border-radius: 5px;
}

.text {
  position: absolute;
  bottom: 20px;
}

h1 {
  margin-top: 10px;
  font-size: 28px;
}

@media only screen and (min-width: 768px) {
  .navigace-mobil {
    display: none;
  }

  .navigace-desktop {
    display: inline-block;
    width: 100%;
  }

  .navigation-wrapper {
    margin: 0 auto;
  }

  .navigation-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
  }

  .navigation-item {
    padding: 5px;
    font-weight: bold;
  }

  .image-container {
    width: calc(50% - 20px);
  }

  h1 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }
}
